.header {
  padding: 100px;
  text-align: center;
}

@media (max-width: 550px) {
  .header {
    padding: 50px;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 50px 25px;
  }
  .header h1 {
    font-size: 30px;
  }
}

.header span {
  color: #fe5f1e;
}

.description {
  margin-top: 10px;
  font-size: 22px;
}

@media (max-width: 400px) {
  .description {
    font-size: 16px;
  }
}
